# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
myenv/
venv/
.env

# Node
frontend/node_modules/

# Build
frontend/build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db